/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  background: #cdcdcd;
  color: black;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .logo {
  font-size: 3.5rem;
}
header nav .links {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  width: 100%;
}
header nav .links a {
  text-decoration: none;
  margin-top: 2%;
  color: black;
}
header nav .links a:hover {
  color: blue;
}
@media (max-width: 500px) {
  header nav {
    width: 100%;
  }
  header nav .links {
    width: 100%;
  }
}
body {
  width: 800px;
  margin: auto;
}
body form {
  magdisplay: flex;
  flex-direction: column;
  width: 100%;
  margin: 2% auto;
}
body form .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}
body form .container input {
  font-size: 1.4rem;
  width: 90%;
  margin: 2% auto;
}
body form .container .registerbtn {
  width: 40%;
  margin: 3% 0;
}
